[Conservatory]
id = 289C651F0000803F
type = TEMP
name = Conservatory
description = 
units = oC
datatype = float
address = 289C651F0000803F

[Outside]
id = 2875E72600008013
type = TEMP
name = Outside
description = 
units = oC
datatype = float
address = 2875E72600008013

[Garage]
id = 28072E1F000080EF
type = TEMP
name = Garage
description = 
units = oC
datatype = float
address = 28072E1F000080EF

[Kitchen]
id = 28E9221F000080F4
type = TEMP
name = Kitchen
description = 
units = oC
datatype = float
address = 28E9221F000080F4

[Dining Room]
id = 28C1FE2600008047
type = TEMP
name = Dining Room
description = 
units = oC
datatype = float
address= 28C1FE2600008047
